{% set taxlist = children_only is defined ? taxonomylist.getChildPagesTags() : taxonomylist.get() %}

{% if taxlist %}
<span>
    <a class="{{ uri.param(taxonomy) == '' ? 'active-category' : '' }}" href="{{ base_url }}">Alle</a> |
    <a class="{{ uri.param(taxonomy) == 'Gottesdienst' ? 'active-category' : '' }}" href="{{ base_url }}/{{ taxonomy }}{{ config.system.param_sep }}Gottesdienst">Gottesdienste</a> |
    <a class="{{ uri.param(taxonomy) == 'Sakrament' ? 'active-category' : '' }}" href="{{ base_url }}/{{ taxonomy }}{{ config.system.param_sep }}Sakrament">Sakramente</a> |
    <a class="{{ uri.param(taxonomy) == 'Gruppen' ? 'active-category' : '' }}" href="{{ base_url }}/{{ taxonomy }}{{ config.system.param_sep }}Gruppen">Offene Gruppen</a> |
    <a class="{{ uri.param(taxonomy) == 'Kinder' ? 'active-category' : '' }}" href="{{ base_url }}/{{ taxonomy }}{{ config.system.param_sep }}Kinder">Kinder</a> |
    <a class="{{ uri.param(taxonomy) == 'Jugend' ? 'active-category' : '' }}" href="{{ base_url }}/{{ taxonomy }}{{ config.system.param_sep }}Jugend">Jugend</a> |
    <a class="{{ uri.param(taxonomy) == 'Amtsträger' ? 'active-category' : '' }}" href="{{ base_url }}/{{ taxonomy }}{{ config.system.param_sep }}Amtsträger">Amtsträger</a>
</span>
{% endif %}
